<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TodoList.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <!-- Glavna Blazor skripta potrebna za rad aplikacije -->
    <script src="_framework/blazor.web.js"></script>

    <!-- SCRIPT ZA PRIKAZ PDF DOCUMENTA -->
    <script>
        let pdfWindow = null;

        window.preparePdfWindow = () => {
            pdfWindow = window.open("about:blank", "_blank");
        };

        window.viewPdfFromStream = async (contentStreamReference) => {
            if (!pdfWindow) return;

            try {
                const arrayBuffer = await contentStreamReference.arrayBuffer();
                const blob = new Blob([arrayBuffer], { type: 'application/pdf' });
                const url = URL.createObjectURL(blob);

                pdfWindow.location.href = url;
            } catch (error) {
                console.error("Greška prilikom učitavanja PDF-a:", error);
                pdfWindow.close();
            }
        };
    </script>
</body>

</html>
